<button type="button" class="btn-trigger" {{on "click" (fn this.setIsShowing true)}}>Add a new Author</button>

{{#if this.isShowing}}
    <div class="modal">
        <form class="modal-card" id="form-new-author">
            <h3 class="modal-heading">Add new author for book</h3>
            <div class="modal-content">
                <div class="field">
                    <label for="new-author-firstname">First Name:</label>
                    <Input @type="text" placeholder="First Name" id="new-author-firstname"
                           @value={{this.author.firstName}}/>
                </div>

                <div class="field">
                    <label for="new-author-lastname">Last Name:</label>
                    <Input @type="text" placeholder="Last Name" id="new-author-lastname"
                           @value={{this.author.lastName}}/>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn-clear" type="button" {{on "click" (fn this.setIsShowing false)}} >Cancel</button>
                <button class="btn-submit" type="submit" {{on "click" this.save}}>Submit</button>
            </div>
        </form>
    </div>
{{/if}}
