{{page-title "Create"}}
<div class="slide-out-bg"></div>
<div class="slide-out">
    <div class="slide-out-card">
        <LinkTo @route="book" class="btn-back">
            <span class="sr-only">Back</span>
        </LinkTo>

        <div class="slide-out-heading">
            <div class="title">
                <h3>New Book</h3>
            </div>
        </div>

        <div class="slide-out-content">
            <form {{on "submit" this.saveBook}}>
                <div class="field">
                    <label for="title">Title:</label>
                    <Input placeholder="Title" @value={{@model.title}} id="title"/>
                </div>

                <div class="field">
                    <label for="isbn">ISBN:</label>
                    <Input placeholder="Title" @value={{@model.isbn}} id="isbn"/>
                </div>

                <div class="field">
                    <label for="publishDate">Publish Date:</label>
                    <Input @type="date" placeholder="Publish date" @value={{@model.publishDate}} id="publishDate"/>
                </div>

                <div class="field">
                    <label for="author">Author:</label>
                    <p class="control">
                        <PowerSelect
                                @searchEnabled={{true}}
                                @search={{this.searchAuthor}}
                                @selected={{if @model.author (concat @model.author.lastName "," @model.author.firstName) ""}}
                                @onChange={{fn (mut @model.author)}}
                                as |author|
                        >
                            {{author.lastName}}, {{author.firstName}}
                        </PowerSelect>
                    </p>
                </div>

                {{log "@model.author" @model.author}}

                <div class="form-footer">
                    <button type="submit" class="btn-submit">save</button>
                </div>
            </form>
        </div>
    </div>
</div>
